/* You can add global styles to this file, and also import other style files */
.banner {
  width: 100vw;
  background: url("../src/assets/img/homebanner.jpg");
  background-size:cover;
  background-clip: border-box;
  background-repeat: no-repeat;
}
